<!DOCTYPE html>
<html class="no-js" lang="en-US">
{{ partial "head.html" . }}

<body>
    <div class="container">
        <section class="hero">
            <img src="/images/estrera-cover.jpg" alt="">
        </section>
        <section class="photoset">
            <header>
                <h3>The Preparation</h3>
            </header>
            
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/table.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/table-set-under-tree.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/table-pool-preparing.jpg" alt="">
                </figure>
            </div>
            
			<div class="photoset-row">
			    <figure class="photoset-item three-thirds">
			        <img src="/images/prep/fingerprint-sign-kids.jpg" alt="">
			    </figure>
			     <figure class="photoset-item three-thirds">
			        <img src="/images/prep/fingerprint-signatures.jpg" alt="">
			    </figure>
			    <figure class="photoset-item three-thirds">
			        <img src="/images/prep/fingerprint-man-signing.jpg" alt="">
			    </figure>
			</div>
			<div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/welcoming-guests-01.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/welcoming-guests-02.jpg" alt="">
                </figure>
            </div>
			<div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/welcoming-guests-03.jpg" alt="">
                </figure>
            </div>
        </section>
    </div>
</body>

</html>
