<!DOCTYPE html>
<html class="no-js" lang="en-US">
{{ partial "head.html" . }}

<body>
    <div class="container-bleed">
   		<section class="hero">
        	<header class="hero-title">
        		<h1>Jun <em>&amp;</em> Juana</h1>
        		<h2>Golden Wedding Anniversary</h2>
        		<p class="date">27 August 2016</p>
        	</header>
        </section>
    </div>

    <div class="container">
    	<section>
        	<div class="blurb theme-text">
            	<p>"What God has yoked together, let no man put apart."
            	<span>—MATTHEW 19:6</span>
            	</p>
            </div>
        </section>
        <section class="photoset">
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/estrera-01.jpg" alt="">
                </figure>
            </div>
        </section>

        <section>
        	<div class="blurb">
            	<p>"Gracias por celebrar este día tan especial con nosotros"
            	<span>—Jun y Juana</span>
            	</p>
            </div>
        </section>
        
        <section class="photoset">
            <header>
                <h3>The Preparation</h3>
            </header>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/table.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/table-02.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/table-pool-preparing.jpg" alt="">
                </figure>
            </div>
        	<div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/buffet-table.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/feast-prep-01.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/feast-prep-02.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/dessert-table.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/cake-top.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/dessert-mixed.jpg" alt="">
                </figure>
            </div>
            
		</section>
		 <section class="photoset">
		 	<header>
                <h3>Our Dear Guests</h3>
            </header>
			
            <div class="photoset-row">
			    <figure class="photoset-item two-halves">
			        <img src="/images/prep/fingerprint-sign-kids.jpg" alt="">
			    </figure>
			    <figure class="photoset-item two-halves">
			        <img src="/images/prep/fingerprint-man-signing.jpg" alt="">
			    </figure>
			</div>
			 <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/welcoming-guests-03.jpg" alt="">
                </figure>
            </div>
			<div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/welcoming-guests-01.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/welcoming-guests-02.jpg" alt="">
                </figure>
            </div>
           
			<div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/guests-02.jpg" alt="">
                </figure>
            </div>

            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/guests-03.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/guests-04.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/guests-05.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/friends-01.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/guests-07.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/guests-06.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/guests-photobooth.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/guests-tita.jpg" alt="">
                </figure>
            </div>
			<div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/guests-09.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/guests-08.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/guests-10.jpg" alt="">
                </figure>
            </div>
        </section>
		<section class="photoset">
		 	<header>
                <h3>Our Beautiful Family</h3>
            </header>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/jj-02.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/family-01.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/family-02.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/family-03.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/family-04.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/family-05.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/family-06.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/jj-03.jpg" alt="">
                </figure>
            </div>
        </section>
        <section>
            <div class="blurb theme-text">
                <p>“A threefold cord cannot quickly be torn apart.”
                <span>—ECCLESIASTES 4:12.</span>
                </p>
            </div>
        </section>
        <section class="photoset">
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/prayer-for-event.jpg" alt="">
                </figure>
            </div>
             <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/meal-01.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/meal-02.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/meal-03.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/meal-04.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/meal-05.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/meal-06.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/meal-07.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/meal-08.jpg" alt="">
                </figure>
            </div>
        </section>
        <section>
            <div class="blurb theme-text">
                <p>“Oil and incense are what make the heart rejoice, also the sweetness of one’s companion due to the counsel of the soul.”
                <span>—PROVERBS 27:9.</span>
                </p>
            </div>
        </section>
        <section class="photoset">
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/dance-01.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item two-halves">
                    <img src="/images/prep/dance-03.jpg" alt="">
                </figure>
                 <figure class="photoset-item two-halves">
                    <img src="/images/prep/dance-04.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/dance-02.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/gifts.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/souvenir.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/polaroid.jpg" alt="">
                </figure>
            </div>
            <div class="photoset-row">
                <figure class="photoset-item one">
                    <img src="/images/prep/jj-closing.jpg" alt="">
                </figure>
            </div>
        </section>
        <section>
             <div class="blurb theme-text">
                 <p>Place me as a seal upon your heart, <br>
                    As a seal upon your arm,<br>
                    For love is as strong as death is,<br>
                    And exclusive devotion is as unyielding as the Grave.<br>
                    Its flames are a blazing fire, the flame of Jah.
                    <span>—SONG OF SOLOMON 8:6.</span>
                    </p>
             </div>
        </section>
        <section class="download">
            <div class="blurb">
                <a class="linktoalbum" href="https://goo.gl/photos/u3fe8GLzLvAUhsLF6">Download in full-resolution</a>
            </div>
        </section>
        <footer>
            <p>Made with <a href="http://www.pixeleden.com">Pixeleden</a></p>
        </footer>
    </div>
</body>

</html>
